<div >
    <div class="titular">   
 
      <p class="tagline">Discover. Connect. Inspire.</p>
      <p class="subtitle">Join us to be a part of a community</p>
      <button class="btn">Get Started</button>
    </div>
   
    
    <div class="area" >
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li> 
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div >
   
   
  </div>
  
  